*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #3d087b;
}

.big-container{
    width: 100%;
    height: 740px;
    display: inline-flex;
    box-sizing: border-box;
    padding-top: 10px;
}

 /* First Box */

.first-box{
    width: 40%;
    height: 700px;
    margin: auto;    
}

.first-clock{
    background-image: url(./clock.jpeg);
    width: 45%;
    height: 15%;
    border-radius: 5px;
    background-size: 100% 100%;
    box-shadow: 1px 0px 10px black;
}

.box-inside{
    width: 95%;
    height: 50%;
    margin-top: 15px;
    border-radius: 5px;
}

.first-wakeup{
    width: 100%;
    height: 32%;
    display: inline-flex;
    box-shadow: 2px 2px 5px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}

.line{
    width: 3px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 60px;
    left: -29px;
}

.line1{
    width: 3px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 50px;
    left: -21px;
}

.line2{
    width: 3px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 60px;
    left: -31px;
}
.wakeup-img{
    background-image: url(./Sun-logo.jpg);
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    margin-top: 10px;
    margin-left: 10px;
}

#morning-time{
    margin: auto;
    font-size: 30px;
    font-weight: 700;
}

.select1{
    margin: auto;
}

.first-lunch{
    width: 100%;
    height: 32%;
    display: inline-flex;
    box-shadow: 2px 2px 5px black;
    background-color: white;
}

.lunch-img{
    background-image: url(./Lunch-time.png);
    width: 40px;
    height: 45px;
    background-size: 100% 100%;
    margin-top: 8px;
    margin-left: 10px;
}

#lunch-time{
    margin: auto;
    font-size: 30px;
    font-weight: 700;
}

.select2{
    margin: auto;
}

.first-nap{
    width: 100%;
    height: 32%;
    display: inline-flex;
    box-shadow: 2px 2px 5px black;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dinner-img{
    background-image: url(./nap-time.jpg);
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    margin-top: 8px;
    margin-left: 10px;
}

#dinner-time{
    margin: auto;
    font-size: 30px;
    font-weight: 700;
}

.select3{
    margin: auto;
}

.first-set-time{
    width: 40%;
    height: 8%;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
    background-image: linear-gradient(to right, blue, pink);
}

#set{
    color: white;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 55px;
}
.selectTime{
    width: 180px;
    height: 30px;
    float: left;
    border-radius: 5px;
    border: 2px rgba(0, 0, 255, 0.658) solid;
}

.lower-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -30px;
    width: 90%;
    height: 15vh;
    background-color: #9140B5;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 10px;
}

option{
    font-size: 15px;
}